In [1]:
import pandas as pd 
data=pd.read_csv("D:\Python Programs\JupyNotebook\Hamoye Stage B\energydata_complete.csv")
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,11-01-2016 17:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,11-01-2016 17:10,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,11-01-2016 17:20,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,11-01-2016 17:30,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,11-01-2016 17:40,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,27-05-2016 17:20,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,27-05-2016 17:30,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,27-05-2016 17:40,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,27-05-2016 17:50,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,27-05-2016 18:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [2]:
data.shape

(19735, 29)

In [3]:
data.groupby(['RH_8']).sum(3)

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
RH_8,,,,,,,,,,,,,,,,,,,,,
29.600000,470,0,43.400000,65.078333,39.780000,65.113333,45.926667,68.400000,39.520000,63.926667,...,37.100000,76.290000,10.63,1525.416667,110.000000,9.166667,80.000000,-6.47,21.207406,21.207406
29.675000,50,0,21.790000,33.000000,19.790000,32.826667,23.360000,34.726667,19.790000,31.930000,...,18.600000,38.090000,5.67,762.583333,52.000000,4.833333,40.000000,-3.63,22.878891,22.878891
29.700000,50,0,21.790000,33.333333,19.790000,32.900000,23.500000,35.133333,19.730000,31.730000,...,18.533333,38.090000,5.90,762.500000,50.000000,5.000000,40.000000,-3.90,11.684222,11.684222
29.726667,340,0,21.633333,32.433333,19.790000,32.030000,22.666667,33.900000,19.700000,31.856667,...,18.566667,38.200000,4.97,762.833333,58.000000,4.333333,40.000000,-2.83,27.673420,27.673420
29.790000,310,0,22.200000,34.826667,20.066667,34.196667,23.763333,33.963333,21.000000,33.500000,...,19.700000,37.790000,7.10,766.600000,60.000000,4.000000,25.000000,-0.20,2.628851,2.628851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58.675556,50,10,21.500000,47.090000,20.600000,46.966667,21.700000,46.626667,18.890000,49.290000,...,17.500000,52.700000,10.90,757.833333,93.666667,6.666667,62.333333,9.87,1.279328,1.279328
58.702778,50,10,21.575000,47.022500,20.666667,46.900000,21.633333,46.626667,18.890000,49.290000,...,17.500000,52.700000,10.90,757.700000,93.000000,7.000000,62.500000,9.85,31.266625,31.266625
58.730000,50,20,21.600000,46.966667,20.700000,46.826667,21.700000,46.530000,19.000000,49.290000,...,17.500000,52.530000,11.10,757.433333,91.666667,7.666667,62.833333,9.82,49.876911,49.876911
58.740000,40,10,21.600000,47.000000,20.700000,46.900000,21.700000,46.590000,18.926667,49.290000,...,17.500000,52.590000,11.00,757.566667,92.333333,7.333333,62.666667,9.83,5.692451,5.692451
58.780000,40,10,21.600000,46.900000,20.700000,46.790000,21.700000,46.500000,18.926667,49.290000,...,17.500000,52.466667,11.20,757.300000,91.000000,8.000000,63.000000,9.80,3.124403,3.124403

In [4]:
data.memory_usage()

Index             128
date           157880
Appliances     157880
lights         157880
T1             157880
RH_1           157880
T2             157880
RH_2           157880
T3             157880
RH_3           157880
T4             157880
RH_4           157880
T5             157880
RH_5           157880
T6             157880
RH_6           157880
T7             157880
RH_7           157880
T8             157880
RH_8           157880
T9             157880
RH_9           157880
T_out          157880
Press_mm_hg    157880
RH_out         157880
Windspeed      157880
Visibility     157880
Tdewpoint      157880
rv1            157880
rv2            157880
dtype: int64

In [5]:
data.RH_out.median()

83.66666667

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [7]:
X = data.iloc[:,1:30]
X

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [8]:
Y = data.RH_9
Y

0        45.5300
1        45.5600
2        45.5000
3        45.4000
4        45.4000
          ...
19730    46.7900
19731    46.7900
19732    46.7900
19733    46.8175
19734    46.8450
Name: RH_9, Length: 19735, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split
train_test_split(X,Y,test_size=0.3)

[       Appliances  lights         T1       RH_1         T2       RH_2  \
 6552           50      10  20.463333  38.966667  18.600000  40.290000
 1553           40       0  18.390000  38.790000  17.500000  38.790000
 15133          90       0  21.666667  40.296667  19.890000  41.933333
 8421           50       0  19.890000  36.900000  16.963333  40.590000
 2232           20       0  20.290000  44.500000  19.633333  43.826667
 ...           ...     ...        ...        ...        ...        ...
 13649          70      10  22.600000  43.290000  21.323333  43.663333
 19080          90       0  23.890000  47.466667  21.700000  49.900000
 12443          50       0  21.200000  41.400000  18.356667  44.700000
 19500          60       0  23.915584  40.305195  22.852597  40.179221
 18776          60       0  23.033333  45.590000  21.356667  47.400000

               T3       RH_3         T4       RH_4  ...         T9       RH_9  \
 6552   21.290000  38.700000  20.426667  36.200000  ...  18.000000  41.126667
 1553   18.500000  39.290000  16.290000  38.466667  ...  15.890000  40.030000
 15133  21.790000  36.400000  21.100000  37.621429  ...  19.600000  36.700000
 8421   20.230000  37.230000  20.230000  35.590000  ...  17.390000  39.290000
 2232   19.890000  43.700000  19.230000  46.290000  ...  17.200000  49.260000
 ...          ...        ...        ...        ...  ...        ...        ...
 13649  25.730000  37.656667  22.290000  41.126667  ...  20.790000  44.466667
 19080  26.200000  44.326667  23.500000  45.260000  ...  23.290000  49.960000
 12443  23.100000  39.590000  20.790000  39.200000  ...  20.566667  43.560000
 19500  24.943896  38.398052  23.705584  39.393506  ...  22.100000  41.928961
 18776  24.963333  42.260000  23.200000  43.900000  ...  22.640000  46.634000

        T_out  Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint  \
 6552    0.50   755.500000  96.000000   1.000000   38.000000       0.00
 1553    2.45   762.183333  71.833333   4.833333   21.833333      -2.20
 15133   5.63   748.550000  93.166667   5.333333   46.500000       4.57
 8421    0.70   753.800000  87.000000   1.500000   65.000000      -1.30
 2232   10.10   757.700000  82.000000   9.000000   40.000000       7.10
 ...      ...          ...        ...        ...         ...        ...
 13649  12.00   748.516667  76.833333   6.166667   40.000000       8.08
 19080  10.90   753.400000  95.000000   3.000000   57.000000      10.20
 12443   5.38   751.700000  88.000000   5.000000   26.166667       3.57
 19500   9.00   757.000000  95.000000   1.000000   47.000000       8.30
 18776  14.20   757.100000  90.333333   4.000000   40.000000      12.60

              rv1        rv2
 6552    3.729191   3.729191
 1553   11.993958  11.993958
 15133   6.200508   6.200508
 8421   47.938335  47.938335
 2232   10.741108  10.741108
 ...          ...        ...
 13649  15.529986  15.529986
 19080   0.781173   0.781173
 12443   3.229934   3.229934
 19500  46.026586  46.026586
 18776  36.209954  36.209954

 [13814 rows x 28 columns],
        Appliances  lights         T1       RH_1         T2       RH_2  \
 17551          60       0  25.500000  47.030000  26.200000  43.072000
 18639          60       0  22.890000  41.290000  20.890000  42.812000
 16223          50       0  21.790000  39.590000  23.793333  36.800000
 6575          360      10  20.100000  39.400000  18.200000  40.326667
 3066           70      20  22.926667  45.260000  22.033333  44.290000
 ...           ...     ...        ...        ...        ...        ...
 3607          100       0  22.463333  44.090000  22.066667  42.900000
 19595         290       0  24.390000  42.530000  24.577778  39.092222
 3564           40      10  21.290000  46.363333  20.633333  45.090000
 18625          50       0  23.100000  41.200000  21.332857  42.000000
 11900          40       0  20.790000  43.500000  19.356667  45.933333

               T3       RH_3         T4       RH_4  ...         T9       RH_9  \
 17551  26.254000  43.590000  25.614286  44.025714  ...  24.100000  46.500000
 18639  24.666667  39.966667  22.790000  40.267500  ...  22.600000  44.200000
 16223  23.390000  37.500000  22.000000  38.530000  ...  20.290000  41.440000
 6575   20.856667  37.833333  19.890000  35.826667  ...  17.890000  39.966667
 3066   23.200000  45.260000  21.500000  48.900000  ...  17.890000  50.466667
 ...          ...        ...        ...        ...  ...        ...        ...
 3607   22.125000  44.222500  20.100000  48.000000  ...  18.600000  48.433333
 19595  27.826667  38.296667  24.500000  40.200000  ...  22.700000  43.566667
 3564   21.600000  44.400000  19.790000  47.290000  ...  18.500000  49.200000
 18625  24.600000  39.700000  23.000000  40.400000  ...  22.600000  43.400000
 11900  21.600000  40.090000  19.600000  42.826667  ...  19.633333  43.000000

        T_out  Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint  \
 17551  21.00   744.100000  55.333333   3.166667   24.500000      11.60
 18639   9.90   757.700000  90.500000   4.000000   34.500000       8.35
 16223   9.13   762.516667  83.333333   4.666667   37.666667       6.37
 6575    1.47   754.983333  94.166667   1.000000   52.833333       0.60
 3066   10.20   759.600000  95.000000   9.000000   61.000000       9.40
 ...      ...          ...        ...        ...         ...        ...
 3607    9.77   760.250000  89.333333   4.166667   37.833333       8.12
 19595  20.80   755.550000  48.500000   2.833333   30.833333       9.50
 3564    9.50   763.600000  94.000000   5.000000   25.000000       8.60
 18625   9.97   757.883333  86.166667   3.000000   40.000000       7.80
 11900  12.00   752.100000  90.333333   4.000000   23.000000      10.50

              rv1        rv2
 17551   3.426374   3.426374
 18639  37.613689  37.613689
 16223   2.311538   2.311538
 6575   30.824058  30.824058
 3066   43.522164  43.522164
 ...          ...        ...
 3607    3.570667   3.570667
 19595   3.932150   3.932150
 3564   14.997575  14.997575
 18625  44.345886  44.345886
 11900   3.104092   3.104092

 [5921 rows x 28 columns],
 6552     41.126667
 1553     40.030000
 15133    36.700000
 8421     39.290000
 2232     49.260000
            ...
 13649    44.466667
 19080    49.960000
 12443    43.560000
 19500    41.928961
 18776    46.634000
 Name: RH_9, Length: 13814, dtype: float64,
 17551    46.500000
 18639    44.200000
 16223    41.440000
 6575     39.966667
 3066     50.466667
            ...
 3607     48.433333
 19595    43.566667
 3564     49.200000
 18625    43.400000
 11900    43.000000
 Name: RH_9, Length: 5921, dtype: float64]

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.3, random_state=1)

In [11]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
mae

3.3163661162131816e-14

### Mean Absolute Error(MAR)

In [12]:
from sklearn.metrics import mean_absolute_error
y_true = data.T1
y_pred = data.RH_1
mean_absolute_error(y_true, y_pred)

18.573167893029137

### Residual Sum of Squares

In [13]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
rss

1.8800499124687176e-23

### Root Mean Square Error (RMSE)

In [14]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
rmse

5.634912272551372e-14

### R-Squared

In [15]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 5)

1.0

### Ridge Regression

In [16]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()
linear_model.fit(x_train, y_train)
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.05)
ridge_reg.fit(x_train,y_train)
ridge = ridge_reg.predict(x_train)
ridge

array([41.00000036, 38.39750082, 35.46666879, ..., 39.43332785,
       46.56666536, 48.09999752])

### Feature Selection and Lasso Regression

In [17]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
lasso = lasso_reg.predict(x_train)
lasso

array([40.99768685, 38.3982276 , 35.46594571, ..., 39.43227669,
       46.56704118, 48.09803755])

In [18]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()
linear_model.fit(x_train, y_train)
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [19]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [20]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0            T1        -2.222333e-15 -2.613950e-07 -0.000000e+00
1            T6        -1.302358e-15  5.719469e-08 -1.049018e-03
2            T4        -1.187106e-15 -2.040309e-07 -0.000000e+00
3     Tdewpoint        -9.148248e-16 -2.541356e-07 -5.271376e-04
4         T_out        -8.223025e-16  1.419904e-07  1.847552e-03
5    Appliances        -5.392994e-16 -4.157334e-10  7.410339e-07
6          RH_5        -4.169692e-16 -1.292298e-08  0.000000e+00
7          RH_1        -3.474274e-16 -2.207042e-07  0.000000e+00
8          RH_6        -3.143112e-16  3.166080e-08  4.985096e-06
9            T5        -2.464275e-16 -6.656978e-07 -0.000000e+00
10           T8        -1.924771e-16 -3.426591e-07 -0.000000e+00
11          rv1        -1.718467e-16 -1.174699e-09 -0.000000e+00
12       RH_out        -1.296169e-16  1.674408e-08  1.531886e-04
13   Visibility        -5.333337e-17  2.429285e-09 -0.000000e+00
14           T9        -2.679789e-17  7.486081e-07 -0.000000e+00
15  Press_mm_hg        -6.937121e-18  5.608912e-08  0.000000e+00
16          rv2         1.985167e-16 -1.156509e-09 -0.000000e+00
17         RH_4         3.517156e-16  3.490250e-07  1.093709e-04
18           T7         4.267809e-16  6.911812e-07 -0.000000e+00
19         RH_7         4.546234e-16  1.308936e-07  0.000000e+00
20       lights         5.898060e-16 -2.001253e-08 -0.000000e+00
21    Windspeed         6.694038e-16  9.290171e-08  0.000000e+00
22         RH_8         7.731360e-16  4.055715e-07  0.000000e+00
23           T2         7.865686e-16  1.108911e-07 -0.000000e+00
24         RH_2         9.765160e-16  1.556484e-07 -0.000000e+00
25         RH_3         1.081190e-15  4.646284e-07  3.467354e-05
26           T3         1.775010e-15  4.039708e-07 -0.000000e+00
27         RH_9         1.000000e+00  9.999986e-01  9.996340e-01