In [21]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')
data=pd.read_csv("energydata_complete.csv")
data .head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,11-01-2016 17:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,11-01-2016 17:10,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,11-01-2016 17:20,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,11-01-2016 17:30,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,11-01-2016 17:40,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [22]:
data.shape

(19735, 29)

In [23]:
data.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.412580,755.522602,79.750418,4.039752,38.330834,3.760995,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.318464,7.399441,14.901088,2.451221,11.794719,4.195248,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.670000,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.920000,756.100000,83.666667,3.666667,40.000000,3.430000,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.400000,760.933333,91.666667,5.500000,40.000000,6.570000,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [24]:
data.memory_usage()

Index             128
date           157880
Appliances     157880
lights         157880
T1             157880
RH_1           157880
T2             157880
RH_2           157880
T3             157880
RH_3           157880
T4             157880
RH_4           157880
T5             157880
RH_5           157880
T6             157880
RH_6           157880
T7             157880
RH_7           157880
T8             157880
RH_8           157880
T9             157880
RH_9           157880
T_out          157880
Press_mm_hg    157880
RH_out         157880
Windspeed      157880
Visibility     157880
Tdewpoint      157880
rv1            157880
rv2            157880
dtype: int64

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [26]:
X = data.iloc[:,1:30]
X

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [27]:
Y = data.RH_9
Y

0        45.5300
1        45.5600
2        45.5000
3        45.4000
4        45.4000
          ...
19730    46.7900
19731    46.7900
19732    46.7900
19733    46.8175
19734    46.8450
Name: RH_9, Length: 19735, dtype: float64

In [30]:
#Standardize or feature scaling the datasets 
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()

In [31]:
X_scaled = scaler.fit_transform(X)

In [32]:
X_scaled

array([[-0.36767572,  3.30126384, -1.11864475, ...,  0.36685422,
        -0.80797357, -0.80797357],
       [-0.36767572,  3.30126384, -1.11864475, ...,  0.34301712,
        -0.44024015, -0.44024015],
       [-0.46521548,  3.30126384, -1.11864475, ...,  0.31918002,
         0.25210868,  0.25210868],
       ...,
       [ 1.68065927,  0.78103476,  2.37445166, ...,  2.27382211,
         0.29049435,  0.29049435],
       [ 3.14375569,  0.78103476,  2.37445166, ...,  2.24998502,
        -1.28759013, -1.28759013],
       [ 3.24129545,  0.78103476,  2.37445166, ...,  2.24998502,
         0.6298737 ,  0.6298737 ]])

### Variance Inflation Factor

In [33]:
from statsmodels.stats.outliers_influence import variance_inflation_factor 
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, roc_auc_score
vif = pd.DataFrame()
vif["vif"] = [variance_inflation_factor(X_scaled,i) for i in range(X_scaled.shape[1])]
vif["Features"] = X.columns

vif

           vif     Features
0     1.197469   Appliances
1     1.313255       lights
2    19.672971           T1
3    16.374645         RH_1
4    28.979806           T2
5    22.238644         RH_2
6    10.296240           T3
7    10.851479         RH_3
8     9.839785           T4
9    17.129418         RH_4
10   10.514337           T5
11    1.378613         RH_5
12   33.673304           T6
13   10.003160         RH_6
14   17.504031           T7
15   10.832184         RH_7
16    8.081243           T8
17    8.578038         RH_8
18   28.396690           T9
19    6.490550         RH_9
20  147.013665        T_out
21    1.406800  Press_mm_hg
22   49.214897       RH_out
23    1.609822    Windspeed
24    1.041732   Visibility
25   86.104129    Tdewpoint
26         inf          rv1
27         inf          rv2

In [34]:
from sklearn.model_selection import train_test_split
train_test_split(X,Y,test_size=0.3)

[       Appliances  lights         T1       RH_1         T2       RH_2     T3  \
 19114          50       0  24.100000  47.730000  22.533333  49.000000  25.39
 7472           60       0  21.085714  37.470000  19.890000  37.270000  20.20
 11452          40      10  21.700000  40.000000  18.890000  44.290000  22.76
 6290           60       0  20.100000  39.030000  18.000000  40.360000  20.60
 14136         110      10  21.856667  37.590000  20.066667  36.060000  22.39
 ...           ...     ...        ...        ...        ...        ...    ...
 17094          60       0  24.500000  39.172500  27.260000  33.530000  26.10
 4438          160       0  20.200000  43.923333  19.290000  41.333333  20.39
 1955           30       0  20.133333  43.590000  19.200000  43.760000  20.39
 11390         120       0  22.267500  38.767500  21.260000  38.796667  22.70
 1579           20       0  18.290000  39.163333  17.133333  39.500000  18.29

             RH_3         T4       RH_4  ...         T9       RH_9   T_out  \
 19114  42.700000  23.390000  45.363333  ...  23.166667  47.400000  12.800
 7472   38.000000  22.075000  35.785000  ...  18.600000  41.700000   6.570
 11452  38.760000  20.600000  39.290000  ...  20.390000  43.090000   6.000
 6290   38.700000  19.500000  36.400000  ...  18.180000  39.776000   0.133
 14136  35.790000  22.600000  34.200000  ...  20.200000  31.100000   8.300
 ...          ...        ...        ...  ...        ...        ...     ...
 17094  37.200000  24.790000  37.900000  ...  23.500000  40.700000  19.200
 4438   41.326667  18.700000  42.333333  ...  18.700000  42.090000   5.200
 1955   44.590000  17.500000  47.290000  ...  16.600000  50.530000   6.600
 11390  37.590000  21.200000  38.260000  ...  20.323333  37.766667   9.870
 1579   39.450000  16.066667  38.966667  ...  15.690000  39.260000   3.000

        Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint        rv1  \
 19114   755.533333  84.000000   2.666667   40.000000    10.2000  46.991320
 7472    748.400000  75.333333   5.333333   40.000000     2.4300   3.776278
 11452   753.900000  98.333333   1.666667   60.666667     5.7700   7.017182
 6290    759.866667  97.333333   1.000000   43.000000    -0.0667  32.503442
 14136   762.900000  63.000000   3.000000   40.000000     1.5000  32.491162
 ...            ...        ...        ...         ...        ...        ...
 17094   752.800000  53.000000   4.000000   40.000000     9.4000  19.611914
 4438    749.266667  88.666667   4.666667   23.333333     3.4700  49.256780
 1955    764.550000  95.000000   3.000000   64.833333     5.8800  14.483473
 11390   753.266667  66.333333   2.666667   40.000000     3.8700  46.691643
 1579    760.550000  88.833333   5.166667   59.166667     1.3300  42.418977

              rv2
 19114  46.991320
 7472    3.776278
 11452   7.017182
 6290   32.503442
 14136  32.491162
 ...          ...
 17094  19.611914
 4438   49.256780
 1955   14.483473
 11390  46.691643
 1579   42.418977

 [13814 rows x 28 columns],
        Appliances  lights         T1       RH_1         T2       RH_2  \
 15491          70       0  20.600000  35.590000  17.100000  40.126667
 4860          320      20  20.133333  40.700000  18.390000  41.560000
 6625           40       0  20.600000  35.326667  19.100000  35.200000
 17615          50       0  25.200000  48.500000  23.500000  49.834000
 13413         100       0  22.200000  43.590000  20.100000  46.060000
 ...           ...     ...        ...        ...        ...        ...
 315           360       0  19.600000  41.500000  19.100000  40.966667
 2364           50       0  19.000000  47.326667  18.390000  47.090000
 16050          50       0  21.323333  35.700000  18.323333  38.200000
 7069          100      10  21.500000  37.833333  19.290000  37.000000
 18192          50       0  22.890000  39.290000  20.873333  39.590000

               T3       RH_3         T4       RH_4  ...         T9       RH_9  \
 15491  21.100000  34.290000  19.790000  34.560000  ...  18.890000  37.530000
 4860   20.790000  39.500000  20.500000  39.433333  ...  18.100000  41.163333
 6625   20.856667  36.060000  19.600000  33.500000  ...  17.890000  36.030000
 17615  26.500000  44.530000  25.200000  45.900000  ...  24.200000  47.790000
 13413  24.230000  39.826667  22.200000  40.590000  ...  20.390000  42.560000
 ...          ...        ...        ...        ...  ...        ...        ...
 315    19.260000  43.466667  19.566667  40.693333  ...  16.666667  40.060000
 2364   19.790000  45.500000  18.066667  48.430000  ...  16.890000  49.290000
 16050  22.390000  35.933333  20.500000  34.400000  ...  19.600000  39.590000
 7069   23.066667  34.863333  19.760000  33.193333  ...  18.463333  38.260000
 18192  24.375714  37.500000  23.100000  37.000000  ...  22.600000  38.900000

         T_out  Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint  \
 15491  -0.417   755.483333  96.833333   1.833333   63.166667     -0.850
 4860    2.700   736.900000  95.000000   3.000000   42.000000      1.900
 6625    5.170   751.883333  70.500000   3.000000   22.166667      0.167
 17615  14.900   745.833333  93.500000   2.666667   41.166667     13.900
 13413   9.650   752.300000  87.500000   1.500000   33.000000      7.600
 ...       ...          ...        ...        ...         ...        ...
 315     2.850   756.650000  88.500000   5.000000   34.500000      1.150
 2364    9.000   758.800000  87.000000   6.000000   27.000000      6.900
 16050   2.000   765.400000  93.000000   1.000000   40.000000      0.900
 7069    2.420   763.433333  74.500000   3.000000   27.666667     -1.770
 18192   9.300   760.300000  78.000000   1.000000   40.000000      5.700

              rv1        rv2
 15491   8.399694   8.399694
 4860   14.360417  14.360417
 6625   44.126172  44.126172
 17615  44.799000  44.799000
 13413  25.676218  25.676218
 ...          ...        ...
 315    24.750082  24.750082
 2364   19.003272  19.003272
 16050  36.786253  36.786253
 7069   17.999381  17.999381
 18192   6.421460   6.421460

 [5921 rows x 28 columns],
 19114    47.400000
 7472     41.700000
 11452    43.090000
 6290     39.776000
 14136    31.100000
            ...
 17094    40.700000
 4438     42.090000
 1955     50.530000
 11390    37.766667
 1579     39.260000
 Name: RH_9, Length: 13814, dtype: float64,
 15491    37.530000
 4860     41.163333
 6625     36.030000
 17615    47.790000
 13413    42.560000
            ...
 315      40.060000
 2364     49.290000
 16050    39.590000
 7069     38.260000
 18192    38.900000
 Name: RH_9, Length: 5921, dtype: float64]

In [35]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.3, random_state=1)

In [36]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
mae

3.3163661162131816e-14

### Mean Absolute Error(MAR)

In [37]:
from sklearn.metrics import mean_absolute_error
y_true = data.T1
y_pred = data.RH_1
mean_absolute_error(y_true, y_pred)

18.573167893029137

### Residual Sum of Squares

In [38]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
rss

1.8800499124687176e-23

### Root Mean Square Error (RMSE)

In [39]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
rmse

5.634912272551372e-14

### R-Squared

In [40]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 5)

1.0

### Ridge Regression

In [41]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()
linear_model.fit(x_train, y_train)
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.05)
ridge_reg.fit(x_train,y_train)
ridge = ridge_reg.predict(x_train)
ridge

array([41.00000036, 38.39750082, 35.46666879, ..., 39.43332785,
       46.56666536, 48.09999752])

### Feature Selection and Lasso Regression

In [42]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
lasso = lasso_reg.predict(x_train)
lasso

array([40.99768685, 38.3982276 , 35.46594571, ..., 39.43227669,
       46.56704118, 48.09803755])

In [43]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()
linear_model.fit(x_train, y_train)
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [44]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [45]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0            T1        -2.222333e-15 -2.613950e-07 -0.000000e+00
1            T6        -1.302358e-15  5.719469e-08 -1.049018e-03
2            T4        -1.187106e-15 -2.040309e-07 -0.000000e+00
3     Tdewpoint        -9.148248e-16 -2.541356e-07 -5.271376e-04
4         T_out        -8.223025e-16  1.419903e-07  1.847552e-03
5    Appliances        -5.392994e-16 -4.157334e-10  7.410339e-07
6          RH_5        -4.169692e-16 -1.292298e-08  0.000000e+00
7          RH_1        -3.474274e-16 -2.207042e-07  0.000000e+00
8          RH_6        -3.143112e-16  3.166080e-08  4.985096e-06
9            T5        -2.464275e-16 -6.656978e-07 -0.000000e+00
10           T8        -1.924771e-16 -3.426591e-07 -0.000000e+00
11          rv1        -1.718467e-16 -1.174699e-09 -0.000000e+00
12       RH_out        -1.296169e-16  1.674407e-08  1.531886e-04
13   Visibility        -5.333337e-17  2.429285e-09 -0.000000e+00
14           T9        -2.679789e-17  7.486081e-07 -0.000000e+00
15  Press_mm_hg        -6.937121e-18  5.608912e-08  0.000000e+00
16          rv2         1.985167e-16 -1.156509e-09 -0.000000e+00
17         RH_4         3.517156e-16  3.490250e-07  1.093709e-04
18           T7         4.267809e-16  6.911812e-07 -0.000000e+00
19         RH_7         4.546234e-16  1.308936e-07  0.000000e+00
20       lights         5.898060e-16 -2.001253e-08 -0.000000e+00
21    Windspeed         6.694038e-16  9.290171e-08  0.000000e+00
22         RH_8         7.731360e-16  4.055715e-07  0.000000e+00
23           T2         7.865686e-16  1.108911e-07 -0.000000e+00
24         RH_2         9.765160e-16  1.556484e-07 -0.000000e+00
25         RH_3         1.081190e-15  4.646284e-07  3.467354e-05
26           T3         1.775010e-15  4.039708e-07 -0.000000e+00
27         RH_9         1.000000e+00  9.999986e-01  9.996340e-01